<?xml version="1.0" encoding="UTF-8"?>
<!-- The log level from low to high is trace < debug < info < warn < error < fat. If it is set to warn, the information lower than warn will not be output -->
<!-- Scan: when this property is set to true, the configuration document will be reloaded if it changes, and the default value is true -->
<!-- Scanperiod: set the time interval for monitoring whether the configuration document is modified. If no time unit is given, the default unit is Ms.This property takes effect when scan is true. The default interval is 1 minute. -->

<configuration scan="false" scanPeriod="60 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
<!--            <includeMdcKeyName>dd.trace_id</includeMdcKeyName>-->
<!--            <includeMdcKeyName>dd.span_id</includeMdcKeyName>-->
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>